.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .image-entry {
        flex: 100%;
        height: 50vw;
        margin: $gap 0;
        min-width: 0;
        overflow: hidden;
        position: relative;

        &.art-directed,
        &.portrait {
            height: 140vw;
        }

        img {
            width: 100%;
        }

        figcaption {
            color: #fff;
            opacity: 0;
            letter-spacing: 0.005rem;
            padding: 0.5rem;
            position: absolute;
            text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
            top: 0.8rem;
            left: 1rem;

            transition: opacity 0.5s ease-out;

            .caption-title {
                display: block;
                margin: 0;
            }
        }

        &:hover figcaption {
            opacity: 1;
        }
    }

    @media only screen and (min-width: 750px) {
        .image-entry {
            &.art-directed {
                height: 50vw;    
            }
            &.portrait {
                flex: 0 1 calc(50% - $gap);
                height: 71vw;
            }
        }
    }
}